# Игнорировать байткод
*.pyc
*.pyo

**/__pycache__/

# Игнорировать каталог с файлами настройки
**/config/

# Игнорировать каталог с данными и логами
**/data/
**/logs/

# Игнорировать каталог с исполнимыми файлами и модулями
**/bin/
**/venv/

