<!-- templates/index.html -->
<!DOCTYPE HTML>
<html lang = "ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Парсер Asterisk cdr</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Фильтры -->
        <table class="table_samples">
            <tr class="filters">
                <td class="">
                    <form name="tmpl" id="tmpl" method="post" action="/filters_tmpl">
                        <p><b>Шаблоны</b></p>
                        <select name="tmpl" id="tmpl">
                            <option value="hour" selected > Час </option>
                            <option value="day"  > Сутки </option>
                            <option value="week" > Неделя </option>
                            <option value="month"> Месяц </option>
                            <option value="year" > Год </option>
                        </select>
                        <p><button type="submit">Поиск</button></p>
                    </form>
                </td>
            </tr>
        </table>
        <form name="datetime" id="datetime" method="post" action="/filters">
            <table class="table_filters">
                <tr>
                    <td class="">
                        <p><b>Период</b></p>
                        <input type="datetime-local" id="startdate" name="startdate" value="{{ render_param['startdate'] }}">&nbsp&nbsp&nbsp<b>по</b>&nbsp&nbsp
                        <input type="datetime-local" id="stoptdate" name="stoptdate" value="{{ render_param['stoptdate'] }}">
                        <p><button type="submit">Поиск</button></p>
                    </td>

                    <td class="">
                        <p><b>С номера</b>
                        <p><input type="text" id="src" name="src" maxlength="10" value="{{ render_param['src'] }}">
                        <p><button type="submit">Поиск</button>
                    </td>

                    <td class="">
                        <p><b>На номер</b>
                        <p><input type="text" id="dst" name="dst" maxlength="10" value="{{ render_param['dst'] }}">
                        <p><button type="submit">Поиск</button>
                    </td>

                    <td class="">
                        <p><b>Статус</b></p>
                        <select name="status">
                            <option value="all">Все</option>
                            <option value="ANSWERED">Дозвонились</option>
                            <option value="NO ANSWER">Не дозвонились</option>
                            <option value="BUSY">Занято</option>
                            <option value="FAILED">Ошибка</option>
                            <option value="Call back">Перезвонили, дозвонились</option>
                            <option value="Call back no answer">Перезвонили, не дозвонились</option>
                            <option value="Call back but busy">Перезвонили, занято</option>
                            <option value="Call back but fail">Перезвонили, ошибка</option>
                            <option value="Client call back">Перезвонили самостоятельно</option>
                            <option value="Did not call back">Не перезвонили</option>

                        </select>
                        <p><button type="submit">Поиск</button></p>
                    </td>
                </tr>
            </table>
        </form>
        <!-- Суммарная информация -->
        <table class="table_summary">
            <tr>
                <td class="shad_r"><p><b>Количество звонков:</b></p> <p> {{ render_param.call_num }} </p> </td>
                <td class="shad_r"><p><b>Общее время разговоров + ожидания:</b></p> <p> {{ render_param.sum_time_speak_wait }} </p> </td>
                <td class="shad_r"><p><b>Общее время разговоров:</b></p> <p> {{ render_param.sum_time_speak }} </p> </td>
                <td class="shad_r"><p><b>Общее время ожидания:</b></p> <p> {{ render_param.sum_time_wait }} </p> </td>
                <td class="shad_r"><p><b>Среднее время разговоров + ожидания:</b></p> <p> {{ render_param.average_time_speak_wait }} </p> </td>
                <td class="shad_r"><p><b>Среднее время разговоров:</b></p> <p> {{ render_param.average_time_speak }} </p> </td>
                <td class=""><p><b>Среднее время ожидания:</b></p> <p> {{ render_param.average_time_wait }} </p> </td>
            </tr>
        </table>

        <!-- Генератор таблицы с звонками -->
        <table class="table_generator">
            <tr>
                <!-- <TD>ПН</TD> -->
                <td class="td_generator gen_head_l"><p><b>Дата и время</b></p></td>
                <td class="td_generator gen_head_m"><p><b>С номера</b></p></td>
                <td class="td_generator gen_head_m"><p><b>На номер</b></p></td>
                <td class="td_generator gen_head_m"><p><b>Статус</b></p></td>
                <td class="td_generator gen_head_r"><p><b>Прослушать</b></p></td>
            </tr>
        {% for call in render_param.check_answer_list_for_html %}
            {% if not call.hidden %}
                <tr class="tr_generator">
                    <!-- <td width="2%">  {{ call[7] }} </td>  Номер по порядку -->
                    <td width="15%" class="td_generator">  {{ call.calldate }} </td> <!-- Дата -->
                    <td width="10%" class="td_generator">  {{ call.src }} </td> <!-- Кто звонил -->
                    <td width="10%" class="td_generator">  {{ call.dst }} </td> <!-- Куда звонил-->
                    {% if call.disposition == "ANSWERED" %}
                        <td class="td_generator normal">Ожидание: {{ call.callwaithour() }}. Разговор: {{ call.billhour() }}.</td>
                    {% endif %}
                    {% if call['disposition'] == 'NO ANSWER' %}
                        {% if call['ans_disp'] == 'Did not call back' %}
                            <td class="td_generator busy">Не дозвонились. Ожидание: {{ call.callwaithour() }}. Не перезвонили.</td>
                        {% else %}
                            {% if call['ans_disp'] == 'Call back' %}
                                <td class="td_generator busy">Не дозвонились. Ожидание: {{ call.callwaithour() }}. Перезвонили в {{ call.ans_disp_calldate }} с номера {{ call.ans_src }}</td>
                            {% else %}
                                {% if call['ans_disp'] == 'Call back no answer' %}
                                    <td class="td_generator busy">Не дозвонились. Ожидание: {{ call.callwaithour() }}. Перезвонили, без ответа</td>
                                {% else %}
                                    {% if call['ans_disp'] == 'Call back but busy' %}
                                        <td class="td_generator busy">Не дозвонились. Ожидание: {{ call.callwaithour() }}. Перезвонили, занято</td>
                                    {% else %}
                                        {% if call['ans_disp'] == 'Call back but failed' %}
                                            <td class="td_generator busy">Не дозвонились. Ожидание: {{ call.callwaithour() }}. Перезвонили, ошибка</td>
                                        {% else %}
                                            {% if call['ans_disp'] == 'Client call back' %}
                                                <td class="td_generator out">Не дозвонились. Ожидание: {{ call.callwaithour() }}. Перезвонили в {{ call.ans_disp_calldate }} на {{ call.ans_dst }}</td>
                                            {% else %}
                                                <td class="td_generator out">Не дозвонились. Ожидание: {{ call.callwaithour() }} </td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if call['disposition'] == 'BUSY' %}
                        <td class="td_generator busy"> Занято. Ожидание: {{ call.durationhour }}</td>
                    {% endif %}
                    {% if call['disposition'] == 'FAILED' %}
                        <td class="td_generator busy"> Ошибка. Ожидание: {{ call.durationhour }}</td>
                    {% endif %}
                    <td width="15%" class="td_generator">
                        <audio controls >
                        <source src="/audio/{{call['recordingfile'] }}" type="audio/x-wav;codec=pcm">
                            Your browser does not support the audio element.
                        </audio>
                    </td>
                    <!--  <td width="10%"> <a href="/download/{{call[5] }}">Скачать</a> </td>  -->
                    <!--<td width="5%">   </td> Длительность разговора звонка -->
                    <!-- <td>  {{ call[5] }} </td> -->
                    <!-- <td>  {{ call[6] }} </td> -->
                    <!-- <td>  {{ call[7] }} </td> -->
                    <!-- <td>  {{ call.callwait }} </td> -->
                    <!-- <td>  {{ call[9] }} </td> -->
                    <!-- <td>  {{ call.ans_disp_calldate }} </td> -->
                    <!-- <td>  {{ call.ans_disp_calldate }} </td> -->
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </body>
</html>