<!-- templates/index.html -->
<!DOCTYPE HTML>
<html lang = "ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Парсер Asterisk cdr</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- Фильтры -->
        <table class="table_samples">
            <tr class="filters">
                <td class="">
                    <form name="tmpl" id="tmpl" method="post" action="/filters_tmpl">
                        <p><b>Шаблоны</b></p>
                        <select name="tmpl" id="tmpl">
                            <option value="hour" selected > Час </option>
                            <option value="day"  > Сутки </option>
                            <option value="week" > Неделя </option>
                            <option value="month"> Месяц </option>
                            <option value="year" > Год </option>
                        </select>
                        <p><button type="submit">Поиск</button></p>
                    </form>
                </td>
            </tr>
        </table>
        <form name="datetime" id="datetime" method="post" action="/filters">
            <table class="table_filters">
                <tr>
                    <td class="">
                        <p><b>Период</b></p>
                        <input type="datetime-local" id="startdate" name="startdate" value="{{ startdate }}">&nbsp&nbsp&nbsp<b>по</b>&nbsp&nbsp
                        <input type="datetime-local" id="stoptdate" name="stoptdate" value="{{ stoptdate }}">
                        <p><button type="submit">Поиск</button></p>
                    </td>

                    <td class="">
                        <p><b>С номера</b>
                        <p><input type="text" id="src" name="src" maxlength="10" value="{{ src_ }}">
                        <p><button type="submit">Поиск</button>
                    </td>

                    <td class="">
                        <p><b>На номер</b>
                        <p><input type="text" id="dst" name="dst" maxlength="10" value="{{ dst_ }}">
                        <p><button type="submit">Поиск</button>
                    </td>

                    <td class="">
                        <p><b>Статус</b></p>
                        <select name="status">
                            <option value="all">Все</option>
                            <option value="ANSWERED">Дозвонились</option>
                            <option value="NO ANSWERED">Не дозвонились</option>
                            <option value="BUSY">Занято</option>
                            <option value="FAILED">Ошибка</option>
                            <option value="call back">Перезвонили, дозвонились</option>
                            <option value="call back no answer">Перезвонили, не дозвонились</option>
                            <option value="call back but busy">Перезвонили, занято</option>
                            <option value="call back but fail">Перезвонили, ошибка</option>
                            <option value="client call back">Перезвонили самостоятельно</option>
                            <option value="no call back">Не перезвонили</option>

                        </select>
                        <p><button type="submit">Поиск</button></p>
                    </td>
                </tr>
            </table>
        </form>
        <!-- Суммарная информация -->
        <table class="table_summary">
            <tr>
                <td class="shad_r"><p><b>Количество звонков:</b></p> <p> {{ call_num }} </p> </td>
                <td class="shad_r"><p><b>Общее время разговоров + ожидания:</b></p> <p> {{ sum_time_speak_wait }} </p> </td>
                <td class="shad_r"><p><b>Общее время разговоров:</b></p> <p> {{ sum_time_speak }} </p> </td>
                <td class="shad_r"><p><b>Общее время ожидания:</b></p> <p> {{ sum_time_wait }} </p> </td>
                <td class="shad_r"><p><b>Среднее время разговоров + ожидания:</b></p> <p> {{ average_time_speak_wait }} </p> </td>
                <td class="shad_r"><p><b>Среднее время разговоров:</b></p> <p> {{ average_time_speak }} </p> </td>
                <td class=""><p><b>Среднее время ожидания:</b></p> <p> {{ average_time_wait }} </p> </td>
            </tr>
        </table>

        <!-- Генератор таблицы с звонками -->
        <table class="table_generator">
            <tr>
                <!-- <TD>ПН</TD> -->
                <td class="td_generator gen_head_l"><p><b>Дата и время</b></p></td>
                <td class="td_generator gen_head_m"><p><b>С номера</b></p></td>
                <td class="td_generator gen_head_m"><p><b>На номер</b></p></td>
                <td class="td_generator gen_head_m"><p><b>Статус</b></p></td>
                <td class="td_generator gen_head_r"><p><b>Прослушать</b></p></td>
            </tr>
        {% for item in check_answer_list_for_html %}
            <tr class="tr_generator">
                <!-- <td width="2%">  {{ item[7] }} </td>  Номер по порядку -->
                <td width="15%" class="td_generator">  {{ item[0] }} </td> <!-- Дата -->
                <td width="10%" class="td_generator">  {{ item[1] }} </td> <!-- Кто звонил -->
                <td width="10%" class="td_generator">  {{ item[2] }} </td> <!-- Куда звонил-->
                {% if 0 == item[3] %}
                    <td class="td_generator normal">Дозвонились. Ожидание: {{ item[8] }} Разговор: {{ item[4] }}</td>
                {% endif %}
                {% if 1 == item[3] %}
                    {% if 4 == item[9] %}
                        <td class="td_generator busy">Не дозвонились. Ожидание: {{ item[8] }}  </td>
                    {% else %}
                        {% if 0 == item[9] %}
                            <td class="td_generator busy">Не дозвонились. Ожидание: {{ item[8] }}. Перезвонили в {{ item[10] }} с номера {{ item[11] }}</td>
                        {% else %}
                            {% if 1 == item[9] %}
                                <td class="td_generator busy">Не дозвонились. Ожидание: {{ item[8] }}. Перезвонили, без ответа</td>
                            {% else %}
                                {% if 2 == item[9] %}
                                    <td class="td_generator busy">Не дозвонились. Ожидание: {{ item[8] }}. Перезвонили, занято</td>
                                {% else %}
                                    {% if 3 == item[9] %}
                                        <td class="td_generator busy">Не дозвонились. Ожидание: {{ item[8] }}. Перезвонили, ошибка</td>
                                    {% else %}
                                        {% if 5 == item[9] %}
                                            <td class="td_generator out">Не дозвонились. Ожидание: {{ item[8] }}. Клиент перезвонил в {{ item[10] }}</td>
                                        {% else %}
                                            <td class="td_generator out">Исходящий. Не дозвонились. Ожидание: {{ item[8] }} </td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if 2 == item[3] %}
                    <td class="td_generator busy"> Занято </td>
                {% endif %}
                {% if 3 == item[3] %}
                    <td class="td_generator busy"> Ошибка </td>
                {% endif %}
                <td width="15%" class="td_generator">
                    <audio controls >
                    <source src="/audio/{{item[5] }}" type="audio/x-wav;codec=pcm">
                        Your browser does not support the audio element.
                    </audio>
                </td>
                <!--  <td width="10%"> <a href="/download/{{item[5] }}">Скачать</a> </td>  -->
                <!--<td width="5%">   </td> Длительность разговора звонка -->
                <!-- <td>  {{ item[5] }} </td> -->
                <!-- <td>  {{ item[6] }} </td> -->
                <!-- <td>  {{ item[7] }} </td> -->
                <!-- <td>  {{ item[8] }} </td> -->
                <!-- <td>  {{ item[9] }} </td> -->
                <!-- <td>  {{ item[10] }} </td> -->
                <!-- <td>  {{ item[10] }} </td> -->
            </tr>
        {% endfor %}
        </table>
    </body>
</html>